*{
    box-sizing: border-box;
}

body{
    background-color: #81cede;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

header{
    background-color: aqua;
    padding: 1rem;
}

header nav{
    display: flex;
}

header nav li{
    list-style-type: none;
    display: inline-block;

}
