*{
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #81cede;
    margin: 0;
    
}

header{
    display: block;
    color: white;
    background-image: url('Final\ Website\ Media/hero2.jpg');
    background-repeat: no-repeat;
    max-width: 150%;
    max-height: auto;
    padding: 1rem;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;

}

header img{
    width: auto;
}

nav{
    border: 3px solid #f7f4ef;
    display: flex;
    align-items: center;
    text-align: center;
}

#main-menu li{
    list-style-type: none;
    display: inline-block;
    margin-right: 1.5rem;
    align-items: center;
    text-align: center;
}

#main-menu li a{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    text-align: center;
}

#main-menu li a:hover{
    color: #f7f4ef;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #c3e8eb;
    border: 3px solid #f7f4ef;
    padding: 1rem;
    margin: 2rem;
}

section{
    background-color: #f7f4ef;
    padding: 1rem;
    margin: 1rem;
}

#paradise{
    grid-column: span 2;
}

#experience{
    grid-row: span 2;
}

img{
    width: 300px;
    height: auto;
}

button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #edbdbe;
    border: none;
    padding: 1rem;
    align-items: center;
    text-align: center;
}
button a{
    text-decoration: none;
    color: black;
    align-items: center;
    text-align: center;
}
button a:hover{
    color: #f7f4ef;
}




@media screen and (max-width: 650px){
    main{
        display: grid;
        grid-template-columns: 1fr;
    }
    #paradise{
        grid-column: span 1;
    }
    #experience{
        grid-row: span 1;
    }
}