*{
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #62d9c3;
    margin: 1rem;
}

header{
    display: block;
    background-color: #b6f2ec;
    padding: 1rem;
    position: relative;
    align-items: center;
    margin-bottom: 1rem;
}

nav{
    border: 3px solid white;
    display: flex;
    align-items: center;
}

#main-menu li{
    list-style-type: none;
    display: inline-block;
    margin-right: 1.5rem;
    align-items: center;
}

#main-menu li a{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
}

#main-menu li a:hover{
    color: #ffffff;
}

main{
    background-color: #b6f2ec;
    padding: 1rem;
}